.grid {
    border-spacing: 0;    
    margin: auto;
    width: 80%;
}

.grid th, .grid td {
    padding: 0.5rem;
    border: 1px solid #dddddd;
}

.grid thead,
.grid tr:nth-child(even) {
    background-color: #dddddd;
}