.footer {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .footer {
        flex-direction: row;
    }
}